body {
    background-color: orange;
}

.detail {
    color: lawngreen; 
    font-family:'Plus Jakarta Sans', sans-serif;
}

.table {
    border-width: 5px;
    padding: 3px;
}

.containerOne {
    height: 300px;
    width: 300px;
    background-color: blueviolet;
}
